@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1633537222463') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e640";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e634";
}

.icon-icon-test2:before {
  content: "\e637";
}

.icon-icon-test3:before {
  content: "\e638";
}

.icon-icon-test4:before {
  content: "\e63c";
}

.icon-icon-test5:before {
  content: "\e63f";
}

.icon-icon-test6:before {
  content: "\e641";
}

.icon-icon-test7:before {
  content: "\e646";
}

.icon-icon-test8:before {
  content: "\e648";
}

.icon-icon-test9:before {
  content: "\e64f";
}

.icon-icon-test10:before {
  content: "\e651";
}

.icon-icon-test11:before {
  content: "\e652";
}

.icon-icon-test12:before {
  content: "\e653";
}

.icon-icon-test13:before {
  content: "\e654";
}

.icon-icon-test14:before {
  content: "\e655";
}

.icon-icon-test15:before {
  content: "\e656";
}

.icon-icon-test16:before {
  content: "\e657";
}

.icon-icon-test17:before {
  content: "\e658";
}

.icon-icon-test18:before {
  content: "\e659";
}

.icon-icon-test19:before {
  content: "\e65a";
}

.icon-icon-test20:before {
  content: "\e65b";
}

.icon-icon-test21:before {
  content: "\e65c";
}

.icon-icon-test22:before {
  content: "\e65d";
}

.icon-icon-test23:before {
  content: "\e65e";
}

.icon-icon-test24:before {
  content: "\e65f";
}

.icon-icon-test25:before {
  content: "\e660";
}

.icon-icon-test26:before {
  content: "\e661";
}

.icon-icon-test27:before {
  content: "\e662";
}

.icon-icon-test28:before {
  content: "\e663";
}

.icon-icon-test29:before {
  content: "\e664";
}

.icon-icon-test30:before {
  content: "\e665";
}

.icon-icon-test31:before {
  content: "\e666";
}

.icon-icon-test32:before {
  content: "\e667";
}

.icon-icon-test33:before {
  content: "\e668";
}

.icon-icon-test34:before {
  content: "\e669";
}

.icon-alipay:before {
  content: "\e66a";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-anquan:before {
  content: "\e8ad";
}

.icon-bangzhu:before {
  content: "\e8ae";
}

.icon-chuangzuo:before {
  content: "\e8af";
}

.icon-chenggong:before {
  content: "\e8b0";
}

.icon-dingdan:before {
  content: "\e8b1";
}

.icon-gengduo:before {
  content: "\e8b2";
}

.icon-faxian:before {
  content: "\e8b3";
}

.icon-fuzhi:before {
  content: "\e8b4";
}

.icon-fenxiang:before {
  content: "\e8b5";
}

.icon-huiyuan:before {
  content: "\e8b6";
}

.icon-huati:before {
  content: "\e8b7";
}

.icon-mima:before {
  content: "\e8b8";
}

.icon-nan:before {
  content: "\e8b9";
}

.icon-nv:before {
  content: "\e8ba";
}

.icon-paihangbang:before {
  content: "\e8bb";
}

.icon-pengyouquan:before {
  content: "\e8bc";
}

.icon-mingxinghuodong:before {
  content: "\e8bd";
}

.icon-riqian:before {
  content: "\e8be";
}

.icon-shanchu:before {
  content: "\e8bf";
}

.icon-shezhi:before {
  content: "\e8c0";
}

.icon-shibai:before {
  content: "\e8c1";
}

.icon-shijian:before {
  content: "\e8c2";
}

.icon-shoucang:before {
  content: "\e8c3";
}

.icon-shouji:before {
  content: "\e8c4";
}

.icon-shouye:before {
  content: "\e8c5";
}

.icon-shuju:before {
  content: "\e8c6";
}

.icon-sousuo:before {
  content: "\e8c7";
}

.icon-tupian:before {
  content: "\e8c8";
}

.icon-weixuanzhong:before {
  content: "\e8c9";
}

.icon-wodeguanzhu:before {
  content: "\e8ca";
}

.icon-xiangkan:before {
  content: "\e8cb";
}

.icon-xiazai:before {
  content: "\e8cc";
}

.icon-yanjing:before {
  content: "\e8cd";
}

.icon-yingchengka:before {
  content: "\e8ce";
}

.icon-yanchu:before {
  content: "\e8cf";
}

.icon-yuyin:before {
  content: "\e8d0";
}

.icon-aixin1:before {
  content: "\e8d1";
}

.icon-faxian1:before {
  content: "\e8d2";
}

.icon-dingwei:before {
  content: "\e8d3";
}

.icon-gonggao:before {
  content: "\e8d4";
}

.icon-huiyuan1:before {
  content: "\e8d5";
}

.icon-shequ:before {
  content: "\e8d6";
}

.icon-shibai1:before {
  content: "\e8d7";
}

.icon-shouye1:before {
  content: "\e8d8";
}

.icon-shouji1:before {
  content: "\e8d9";
}

.icon-shoucang1:before {
  content: "\e8da";
}

.icon-yanjing1:before {
  content: "\e8db";
}

.icon-yingchengka1:before {
  content: "\e8dc";
}

.icon-search:before {
  content: "\e67d";
}

.icon-share:before {
  content: "\e67e";
}

.icon-sign-out:before {
  content: "\e67f";
}

.icon-smile:before {
  content: "\e680";
}

.icon-setting:before {
  content: "\e681";
}

.icon-time:before {
  content: "\e682";
}

.icon-user:before {
  content: "\e683";
}

.icon-xiaoxi:before {
  content: "\e60f";
}

.icon-yiwen:before {
  content: "\e611";
}

.icon-paizhao:before {
  content: "\e612";
}

.icon-dengji:before {
  content: "\e616";
}

.icon-dengji1:before {
  content: "\e617";
}

.icon-dingwei1:before {
  content: "\e619";
}

.icon-shouye2:before {
  content: "\e61a";
}

.icon-jilu:before {
  content: "\e61c";
}

.icon-wenjian:before {
  content: "\e61d";
}

.icon-mima1:before {
  content: "\e61e";
}

